@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-whatsapp:  linear-gradient(90deg, #40F76F 0%, #00BE32 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --gradient-whatsapp: var(--gradient-whatsapp)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.bg-gradient-whatsapp{
  background: var(--gradient-whatsapp);
}


@media screen and (max-width: 769px){
  .degrade{
    background: rgba(3, 22, 1, 0.8) !important;
  }
}
