@import "tailwindcss";

:root {
  --background: #008300;
  --foreground: #171717;
  --gradient-whatsapp: linear-gradient(90deg, #40F76F 0%, #00BE32 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --gradient-whatsapp: var(--gradient-whatsapp)
}

body {
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
  font-family: var(--font-montserrat), sans-serif;
}

span {
  font-family: var(--font-league), sans-serif;
}

html {
  scroll-behavior: smooth;
}

.bg-gradient-whatsapp {
  background: var(--gradient-whatsapp);
}


@media screen and (max-width: 1279px) {
  .degrade {
    background: rgba(0, 104, 0, 0.6) !important;
  }
}

@media (min-height: 600px) and (min-width: 400px) and (max-height: 900px) and (max-width:1279) {
  #secao {
    padding-top: 10px;
  }

  #logo_1 {
    width: 7.5rem;
    height: 3.8rem;
  }

  #logo_2 {
    width: 14rem;
  }

  #h1_1 {
    font-size: 2.8rem;
  }

  #h1_2 {
    font-size: 2.20rem;
  }

  #h2_1 {
    font-size: 1.94rem;
  }

  #h2_2 {
    font-size: 1.51rem;
  }

  #h3_60 {
    font-size: 12rem;
  }

  #h3_porcentagem {
    font-size: 4rem;
  }

  #h3_3 {
    font-size: 1.1rem;
  }

  #button {
    font-size: 1rem;
    height: 3rem;
    width: 22.5rem;
  }
}

@media (min-height: 600px) and (min-width: 400px) and (max-height: 900px) and (max-width:431) {
  #secao {
    padding-top: 1rem;
  }

  #h1_1 {
    font-size: 2.61rem;
  }

  #h1_2 {
    font-size: 2.06rem;
  }

  #h2_1 {
    font-size: 1.8rem;
  }

  #h2_2 {
    font-size: 1.39rem;
  }

  #h3_60 {
    font-size: 12rem;
  }

  #h3_porcentagem {
    font-size: 4rem;
  }

  #h3_3 {
    font-size: 1.01rem;
  }

  #button {
    font-size: 1rem;
    height: 3rem;
    width: 21.1rem;
  }
}


@media (min-height: 800px) and (min-width: 400px) and (max-height: 900px) and (max-width:1279) {
  #secao {
    padding-top: 2rem;
  }

  #h1_1 {
    font-size: 2.5rem;
  }

  #h1_2 {
    font-size: 1.78rem;
  }

  #h2_1 {
    font-size: 1.7rem;
  }

  #h2_2 {
    font-size: 1.2rem;
  }

  #h3_60 {
    font-size: 12rem;
  }

  #h3_porcentagem {
    font-size: 4rem;
  }

  #h3_3 {
    font-size: 0.89rem;
  }

  #button {
    font-size: 1rem;
    height: 3rem;
    width: 20.4rem;
  }
}



@media (min-width: 230px) and (max-width:343) {
  #secao {
    width: 100vw;
  }

  #h1_1 {
    font-size: 2rem;
  }

  #h1_2 {
    font-size: 1.6rem;
  }

  #h2_1 {
    font-size: 1.4rem;
  }

  #h2_2 {
    font-size: 1.1rem;
  }

  #h3_60 {
    font-size: 8rem;
  }

  #h3_porcentagem {
    font-size: 3rem;
  }

  #h3_3 {
    font-size: 0.80rem;
  }

  #button {
    font-size: 0.73rem;
    height: 3rem;
    padding: 0 12px;
    width: 81vw;
  }
}

@media (min-width: 217px) and (max-width:230) {
  #secao {
    width: 100vw;
  }

  #h1_1 {
    font-size: 1.5rem;
  }

  #h1_2 {
    font-size: 1.05rem;
  }

  #h2_1 {
    font-size: 1.02rem;
  }

  #h2_2 {
    font-size: 0.72rem;
  }

  #h3_60 {
    font-size: 8rem;
  }

  #h3_porcentagem {
    font-size: 3rem;
  }

  #h3_3 {
    font-size: 0.53rem;
  }

  #button {
    font-size: 0.67rem;
    height: 2.3rem;
    padding: 0 12px;
  }
}

@media (min-width: 200px) and (max-width:218) {
  #secao {
    width: 100vw;
  }

  #h1_1 {
    font-size: 1.35rem;
  }

  #h1_2 {
    font-size: 0.95rem;
  }

  #h2_1 {
    font-size: 0.95rem;
  }

  #h2_2 {
    font-size: 0.67rem;
  }

  #h3_60 {
    font-size: 7rem;
  }

  #h3_porcentagem {
    font-size: 3rem;
  }

  #h3_3 {
    font-size: 0.5rem;
  }

  #button {
    font-size: 0.65rem;
    height: 2.3rem;
    padding: 0 8px;
  }
}